# <div align="center"> Data Manipulation

##### Imports

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows',10000)

##### Reading csv's

In [3]:
df_10 = pd.read_csv('../Raw_Data/audi_2010.csv',sep=';',encoding='latin-1')
df_11 = pd.read_csv('../Raw_Data/audi_2011.csv',sep=';',encoding='latin-1')
df_12 = pd.read_csv('../Raw_Data/audi_2012.csv',sep=';',encoding='latin-1')
df_13 = pd.read_csv('../Raw_Data/audi_2013.csv',sep=';',encoding='latin-1')
df_14_r = pd.read_csv('../Raw_Data/audi_2014_r.csv',sep=';',encoding='latin-1')
df_14_d = pd.read_csv('../Raw_Data/audi_2014_d.csv',sep=';',encoding='latin-1')
df_15_r = pd.read_csv('../Raw_Data/audi_2015_r.csv',sep=';',encoding='latin-1')
df_15_d = pd.read_csv('../Raw_Data/audi_2015_d.csv',sep=';',encoding='latin-1')
df_16_r = pd.read_csv('../Raw_Data/audi_2016_r.csv',sep=';',encoding='latin-1')
df_16_d = pd.read_csv('../Raw_Data/audi_2016_d.csv',sep=';',encoding='latin-1')
df_17_r = pd.read_csv('../Raw_Data/audi_2017_r.csv',sep=';',encoding='latin-1')
df_17_d = pd.read_csv('../Raw_Data/audi_2017_d.csv',sep=';',encoding='latin-1')
df_18_r = pd.read_csv('../Raw_Data/audi_2018_r.csv',sep=';',encoding='latin-1')
df_18_d = pd.read_csv('../Raw_Data/audi_2018_d.csv',sep=';',encoding='latin-1')
df_19_r = pd.read_csv('../Raw_Data/audi_2019_r.csv',sep=';',encoding='latin-1')
df_19_d = pd.read_csv('../Raw_Data/audi_2019_d.csv',sep=';',encoding='latin-1')
df_20 = pd.read_csv('../Raw_Data/audi_2020.csv',sep=';',encoding='latin-1')

In [4]:
df = pd.concat([df_10,df_11,df_12,df_13,df_14_d,df_14_r,df_15_d,df_15_r,df_16_d,df_16_r,df_17_d,df_17_r,df_18_r,df_18_d,df_19_r,df_19_d,df_20],axis = 0)
df=df.reset_index()

##### Creating new features

In [5]:
df['Brand']= df['vehicle'].str.split().str[0]
df['Model']=df['vehicle'].str.split().str[1:].str.join(sep=',').str.replace(',',' ')
df['Km'] = df['  km'].str.split().str[0].str.replace('.','')
df['Power'] = df[' power'].str.split().str[2].str[1:]
df['Price'] = df['price '].str.split().str[1].str.replace(',','').str.replace('.','')

In [6]:
df.columns

Index(['index', 'vehicle', '  km', ' year', ' power', ' transmision',
       ' fuel_type', ' consume', ' country', 'emisions', 'price ', 'Brand',
       'Model', 'Km', 'Power', 'Price'],
      dtype='object')

#### Removing unnecessary columns

In [7]:
df['Transmision']=df[' transmision']
df['Fuel_type']=df[' fuel_type']
df = df.drop(columns=[' consume',' country',' transmision','emisions',' fuel_type','price ',' power','  km','vehicle'])
df= df[['Brand', 'Model',' year','Km','Power','Transmision', 'Fuel_type', 'Price']]

##### Filtering the dataframe

In [8]:
df.shape

(5382, 8)

In [9]:
#droping duplicates
df = df.drop_duplicates(keep='first')
df = df.dropna()
df.shape

(4615, 8)

#### Models

In [10]:
df['Model'] = df['Model'].str.replace(' ','')
unique_values = df['Model'].unique()
print(unique_values)

['A4' 'Q7' 'A6' 'A3' 'S5' 'R8' 'A5' 'Q5' 'A4allroad' 'TT' 'S3' 'A1' 'RS6'
 'S4' 'A8' 'RS5' 'TTS' 'A7' 'RS3' 'Q3' 'RS4' 'A6allroad' 'SQ7' 'S7' 'SQ5'
 'Coupe' 'S8' '100' 'RSQ3' 'RS7' 'S1' 'S6' 'Q2' 'QUATTRO' 'Q8' 'e-tron'
 'SQ2' 'RSQ8' 'SQ8']

In [11]:
#Removing wrong models or not interesting models
df = df[df['Model']!='TTS']
df = df[df['Model']!='Coupe']
df = df[df['Model']!='100']
df = df[df['Model']!='QUATTRO']
df = df[df['Model']!='RS5']
df = df[df['Model']!='R8']
df = df[df['Model']!='RSQ8']
df = df[df['Model']!='RS6']
df = df[df['Model']!='RS5']
df = df[df['Model']!='RS7']

In [12]:
#Audi models
unique_values_model = df['Model'].unique()
print(unique_values_model)

['A4' 'Q7' 'A6' 'A3' 'S5' 'A5' 'Q5' 'A4allroad' 'TT' 'S3' 'A1' 'S4' 'A8'
 'A7' 'RS3' 'Q3' 'RS4' 'A6allroad' 'SQ7' 'S7' 'SQ5' 'S8' 'RSQ3' 'S1' 'S6'
 'Q2' 'Q8' 'e-tron' 'SQ2' 'SQ8']

#### Brand

In [13]:
unique_values = df['Brand'].unique()
print(unique_values)

['Audi']

In [14]:
df.shape

(4445, 8)

#### Years

In [15]:
#Years
df = df[df[' year']!='-/- (Año)']

In [16]:
df['Year'] = '20'+df[' year'].str[-2:]
df['Year']=df['Year'].apply(pd.to_numeric)
df = df.drop(columns=[' year'])

In [17]:
#Year check
unique_values = df['Year'].unique()
print(unique_values)

[2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]

#### Km

In [18]:
#KM check
df = df[df['Km']!='-']
df = df[df['Km']!='#¿NOMBRE?']
df['Km']=df['Km'].apply(pd.to_numeric)
df = df[df['Km']<400000]
df = df[df['Km']>5000]

In [19]:
df.shape

(4091, 8)

#### Power

In [20]:
#Audi power
df = df[df['Power']!='1']
df = df[df['Power']!='-']
unique_values = df['Power'].unique()
print(unique_values)

['160' '500' '170' '105' '239' '333' '140' '190' '143' '136' '354' '179'
 '241' '290' '265' '211' '120' '237' '125' '271' '349' '450' '250' '280'
 '272' '373' '200' '340' '245' '299' '122' '204' '163' '177' '86' '300'
 '102' '326' '220' '150' '90' '169' '385' '185' '310' '360' '313' '420'
 '351' '184' '224' '258' '519' '389' '110' '314' '151' '320' '231' '218'
 '116' '148' '262' '95' '367' '435' '230' '192' '252' '560' '215' '605'
 '124' '286' '158' '400' '374' '201' '408' '571' '347']

In [21]:
df.shape

(4064, 8)

#### Fuel

In [22]:
df['Fuel_type'] = df['Fuel_type'].replace(['Diésel'],'Diesel')
df['Fuel_type'] = df['Fuel_type'].replace(['Electro/Diésel'],'Electro/Diesel')
df['Fuel_type'] = df['Fuel_type'].replace(['Eléctrico'],'Electrico')
unique_values = df['Fuel_type'].unique()
print(unique_values)

['Gasolina' 'Diesel' 'Electro/Gasolina' 'Gas natural (CNG)'
 'Electro/Diesel' 'Electrico']

In [23]:
df = df[df['Fuel_type']!='-/- (Combustible)']
df = df[df['Fuel_type']!='Otros']
df = df[df['Fuel_type']!='Gas natural (CNG)']

In [23]:
unique_values = df['Fuel_type'].unique()
print(unique_values)

['Gasolina' 'Diesel' 'Electro/Gasolina' 'Gas natural (CNG)'
 'Electro/Diesel' 'Electrico']

#### Price

In [24]:
#Audi price
df['Price'] = df['Price'].apply(pd.to_numeric)

In [25]:
#Droping extremly high prices
df = df[df['Price']<90000]

In [26]:
df=df[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]
df=df.reset_index(drop=True)

In [27]:
Audi_esp=df[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]

In [28]:
Audi_esp['Model'].unique()

array(['A4', 'Q7', 'A6', 'A3', 'S5', 'A5', 'Q5', 'A4allroad', 'TT', 'S3',
       'A1', 'S4', 'A8', 'A7', 'RS3', 'Q3', 'RS4', 'A6allroad', 'SQ7',
       'S7', 'SQ5', 'S8', 'RSQ3', 'S1', 'S6', 'Q2', 'Q8', 'SQ2', 'e-tron'],
      dtype=object)

In [29]:
Audi_esp.shape

(4048, 7)

In [30]:
df.to_csv ('audi_esp.csv', index = False, header=True)

-------------------------------------------------------------------------------------------------------------------------------

# <div align="center"> Data Manipulation UE

##### Reading csv's

In [31]:
df_10_12 = pd.read_csv('../Raw_Data/audi_EU_2010_2012.csv',sep=';',encoding='latin-1')
df_13_15 = pd.read_csv('../Raw_Data/audi_EU_2013_2015.csv',sep=';',encoding='latin-1')
df_16_18 = pd.read_csv('../Raw_Data/audi_EU_2016_2018.csv',sep=';',encoding='latin-1')
df_19_20 = pd.read_csv('../Raw_Data/audi_EU_2019_2020.csv',sep=';',encoding='latin-1')

In [32]:
df_ue = pd.concat([df_10_12,df_13_15,df_16_18,df_19_20],axis = 0)
df_ue=df_ue.reset_index()

##### Creating new features

In [33]:
df_ue['Brand']= df_ue['vehicle'].str.split().str[0]
df_ue['Model']=df_ue['vehicle'].str.split().str[1:].str.join(sep=',').str.replace(',',' ')
df_ue['Km'] = df_ue['  km'].str.split().str[0].str.replace('.','')
df_ue['Power'] = df_ue[' power'].str.split().str[2].str[1:]
df_ue['Price'] = df_ue['price '].str.split().str[1].str.replace(',','').str.replace('.','')

In [34]:
df_ue.columns

Index(['index', 'vehicle', '  km', ' year', ' power', ' transmision',
       ' fuel_type', ' consume', ' country', 'emisions', 'price ',
       'Unnamed: 10', 'Brand', 'Model', 'Km', 'Power', 'Price'],
      dtype='object')

#### Removing unnecessary columns

In [35]:
df_ue['Transmision']=df_ue[' transmision']
df_ue['Fuel_type']=df_ue[' fuel_type']
df_ue = df_ue[df_ue[' country']!='ES']
df_ue = df_ue.drop(columns=[' consume',' country',' transmision','emisions',' fuel_type','price ',' power','  km','vehicle'])
df_ue= df_ue[['Brand', 'Model',' year','Km','Power','Transmision', 'Fuel_type', 'Price']]

##### Filtering the dataframe

In [36]:
df_ue.shape

(1543, 8)

In [37]:
#droping duplicates
df_ue = df_ue.drop_duplicates(keep='first')
df_ue = df_ue.dropna()
df_ue.shape

(1144, 8)

#### Models

In [38]:
df_ue['Model'] = df_ue['Model'].str.replace(' ','')
unique_values = df['Model'].unique()
print(unique_values)

['A4' 'Q7' 'A6' 'A3' 'S5' 'A5' 'Q5' 'A4allroad' 'TT' 'S3' 'A1' 'S4' 'A8'
 'A7' 'RS3' 'Q3' 'RS4' 'A6allroad' 'SQ7' 'S7' 'SQ5' 'S8' 'RSQ3' 'S1' 'S6'
 'Q2' 'Q8' 'SQ2' 'e-tron']

In [39]:
#Removing wrong models or not interesting models
df_ue = df_ue[df_ue['Model']!='TTS']
df_ue = df_ue[df_ue['Model']!='Coupe']
df_ue = df_ue[df_ue['Model']!='100']
df_ue = df_ue[df_ue['Model']!='QUATTRO']
df_ue = df_ue[df_ue['Model']!='RS5']
df_ue = df_ue[df_ue['Model']!='R8']
df_ue = df_ue[df_ue['Model']!='RSQ8']
df_ue = df_ue[df_ue['Model']!='RS6']
df_ue = df_ue[df_ue['Model']!='RS5']
df_ue = df_ue[df_ue['Model']!='RS7']

In [40]:
df_ue=df_ue[df_ue['Model'].isin(unique_values_model)]

In [41]:
#Audi models
unique_values = df_ue['Model'].nunique()
print(unique_values)

29

#### Brand

In [42]:
df_ue = df_ue[df_ue['Brand']!='Unknown']
unique_values = df_ue['Brand'].unique()
print(unique_values)

['Audi']

In [43]:
df_ue.shape

(1099, 8)

#### Years

In [44]:
#Years
df_ue = df_ue[df_ue[' year']!='-/- (Año)']

In [45]:
df_ue['Year'] = '20'+df_ue[' year'].str[-2:]
df_ue['Year']=df_ue['Year'].apply(pd.to_numeric)
df_ue = df_ue.drop(columns=[' year'])

In [46]:
#Year check
unique_values = df_ue['Year'].unique()
print(unique_values)

[2012 2010 2011 2013 2015 2014 2018 2017 2016 2019 2020]

#### Km

In [47]:
#KM check
df_ue = df_ue[df_ue['Km']!='-']
df_ue = df_ue[df_ue['Km']!='#¿NOMBRE?']
df_ue['Km']=df_ue['Km'].apply(pd.to_numeric)
df_ue = df_ue[df_ue['Km']<400000]
df_ue = df_ue[df_ue['Km']>5000]

In [48]:
df_ue.shape

(1078, 8)

#### Power

In [49]:
#Audi power
df_ue = df_ue[df_ue['Power']!='1']
df_ue = df_ue[df_ue['Power']!='-']
unique_values = df_ue['Power'].unique()
print(unique_values)

['122' '211' '143' '185' '150' '333' '86' '125' '140' '170' '105' '239'
 '136' '90' '163' '245' '250' '190' '340' '271' '120' '450' '177' '160'
 '179' '204' '265' '300' '299' '290' '420' '313' '354' '241' '102' '141'
 '560' '272' '144' '116' '95' '184' '224' '218' '230' '326' '110' '152'
 '320' '367' '314' '390' '276' '8' '385' '310' '131' '286' '605' '258'
 '231' '435' '252' '200' '97' '111' '262' '151' '519' '500' '334' '400'
 '349' '360']

In [50]:
df_ue.shape

(1073, 8)

#### Fuel

In [51]:
df_ue['Fuel_type'] = df_ue['Fuel_type'].replace(['Diésel'],'Diesel')
df_ue['Fuel_type'] = df_ue['Fuel_type'].replace(['Electro/Diésel'],'Electro/Diesel')
df_ue['Fuel_type'] = df_ue['Fuel_type'].replace(['Eléctrico'],'Electrico')
unique_values = df_ue['Fuel_type'].unique()
print(unique_values)

['Gasolina' 'Diesel' '-/- (Combustible)' 'Electro/Gasolina'
 'Gas natural (CNG)' 'Otros' 'Electro/Diesel' 'Electrico']

In [52]:
df_ue = df_ue[df_ue['Fuel_type']!='-/- (Combustible)']
df_ue = df_ue[df_ue['Fuel_type']!='Otros']
df_ue = df_ue[df_ue['Fuel_type']!='Gas natural (CNG)']

In [53]:
unique_values = df_ue['Fuel_type'].unique()
print(unique_values)

['Gasolina' 'Diesel' 'Electro/Gasolina' 'Electro/Diesel' 'Electrico']

#### Price

In [54]:
#Audi price
df_ue['Price'] = df_ue['Price'].apply(pd.to_numeric)

In [55]:
#Droping extremly high prices
df_ue = df_ue[df_ue['Price']<70000]

In [56]:
df_ue=df_ue[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]
df_ue=df_ue.reset_index(drop=True)

In [57]:
Audi_ue=df_ue[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]

In [58]:
Audi_ue['Model'].nunique()

26

In [59]:
Audi_ue.shape

(1057, 7)

In [60]:
df_ue.to_csv ('audi_ue.csv', index = False, header=True)

-------------------------------------------------------------------------------------------------------------------------------