# <div align="center"> Data Manipulation

##### Imports

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows',10000)

##### Reading csv's

In [3]:
df_10 = pd.read_csv('../Raw_Data/mercedes_2010.csv',sep=';',encoding='latin-1')
df_11 = pd.read_csv('../Raw_Data/mercedes_2011.csv',sep=';',encoding='latin-1')
df_12 = pd.read_csv('../Raw_Data/mercedes_2012.csv',sep=';',encoding='latin-1')
df_13 = pd.read_csv('../Raw_Data/mercedes_2013.csv',sep=';',encoding='latin-1')
df_14_r = pd.read_csv('../Raw_Data/mercedes_2014_r.csv',sep=';',encoding='latin-1')
df_14_d = pd.read_csv('../Raw_Data/mercedes_2014_d.csv',sep=';',encoding='latin-1')
df_15_r = pd.read_csv('../Raw_Data/mercedes_2015_r.csv',sep=';',encoding='latin-1')
df_15_d = pd.read_csv('../Raw_Data/mercedes_2015_d.csv',sep=';',encoding='latin-1')
df_16_r = pd.read_csv('../Raw_Data/mercedes_2016_r.csv',sep=';',encoding='latin-1')
df_16_d = pd.read_csv('../Raw_Data/mercedes_2016_d.csv',sep=';',encoding='latin-1')
df_17_r = pd.read_csv('../Raw_Data/mercedes_2017_r.csv',sep=';',encoding='latin-1')
df_17_d = pd.read_csv('../Raw_Data/mercedes_2017_d.csv',sep=';',encoding='latin-1')
df_18_r = pd.read_csv('../Raw_Data/mercedes_2018_r.csv',sep=';',encoding='latin-1')
df_18_d = pd.read_csv('../Raw_Data/mercedes_2018_d.csv',sep=';',encoding='latin-1')
df_19_r = pd.read_csv('../Raw_Data/mercedes_2019_r.csv',sep=';',encoding='latin-1')
df_19_d = pd.read_csv('../Raw_Data/mercedes_2019_d.csv',sep=';',encoding='latin-1')
df_20_r = pd.read_csv('../Raw_Data/mercedes_2020_r.csv',sep=';',encoding='latin-1')
df_20_d = pd.read_csv('../Raw_Data/mercedes_2020_d.csv',sep=';',encoding='latin-1')

In [4]:
df = pd.concat([df_10,df_11,df_12,df_13,df_14_d,df_14_r,df_15_d,df_15_r,df_16_d,df_16_r,df_17_d,df_17_r,df_18_r,df_18_d,df_19_r,df_19_d,df_20_d,df_20_r],axis = 0)
df=df.reset_index()

##### Creating new features

In [5]:
df['Brand']= df['vehicle'].str.split().str[0]
df['Model']=df['vehicle'].str.split().str[1:].str.join(sep=',').str.replace(' ','').str.replace(',','')
df['Km'] = df['  km'].str.split().str[0].str.replace('.','')
df['Power'] = df[' power'].str.split().str[2].str[1:]
df['Price'] = df['price '].str.split().str[1].str.replace(',','').str.replace('.','')

In [6]:
df.columns

Index(['index', 'vehicle', '  km', ' year', ' power', ' transmision',
       ' fuel_type', ' consume', ' country', 'emisions', 'price ', 'Brand',
       'Model', 'Km', 'Power', 'Price'],
      dtype='object')

#### Removing unnecessary columns

In [7]:
df['Transmision']=df[' transmision']
df['Fuel_type']=df[' fuel_type']
df = df.drop(columns=[' consume',' country',' transmision','emisions',' fuel_type','price ',' power','  km','vehicle'])
df= df[['Brand', 'Model',' year','Km','Power','Transmision', 'Fuel_type', 'Price']]

##### Filtering the dataframe

In [8]:
df.shape

(5227, 8)

In [9]:
#droping duplicates
df = df.drop_duplicates(keep='first')
df = df.dropna()
df.shape

(4694, 8)

#### Models

In [10]:
unique_values = df['Model'].unique()
#print(unique_values)
unique_values

array(['E250', 'B150', 'SL300', 'CLS', 'E300', 'SLS', 'CLC', 'E350',
       'SLK200', 'C220', 'ML300', 'B180', 'C200', 'A180', 'ML350',
       'E63AMG', 'CLS350', 'Viano', 'GLK220', 'E220', 'E200', 'SL500',
       '350', 'A160', 'SL600', '', 'S350', 'Sprinter', 'C180', 'B200',
       'Vito', 'GLK250', 'B160', 'R300', 'C63AMG', 'A200', 'ML450', '180',
       'R350', 'C350', 'GLK350', 'GLK300', 'SLK', 'ML250', 'ML63AMG',
       'C250', 'GL350', 'S400', 'ML320', 'E500', 'CL', 'GLK200', '200',
       'S250', 'SLK250', 'SL350', 'S63AMG', 'CLS63AMG', 'G350', 'G55AMG',
       'S500', '300', 'A250', '250', 'A220', 'G500', 'CLA220', 'G',
       'CLA200', 'CLA180', 'B220', 'Citan', 'A45AMG', 'G63AMG', 'SL63AMG',
       'GL63AMG', 'GLA45AMG', 'CLA250', 'CLA45AMG', '220', 'C300',
       'GLA200', 'GLA220', 'V220', 'V', 'CLS250', 'GLA250', 'B250',
       'GL500', 'E400', 'GLE250', 'GLE350', 'GLC220', 'GLC250', 'GLA180',
       'GLE63AMG', 'AMGGT', 'C400', 'S65AMG', 'C320', 'E320', 'SL400',
       'GLE500', 'CLS400', 'CE200', 'SLC250', 'C450', 'GLE450', 'C43AMG',
       'GLE43AMG', '500', 'ML400', 'SLC43AMG', 'GLS400', 'GLC350',
       'GLS63AMG', 'GLC43AMG', 'SLC200', 'GLS500', 'BElectricDrive',
       'V250', 'X250', 'CE220', 'GLS350', 'GLC63AMG', 'E43AMG', 'S450',
       'S560', 'E53AMG', 'CLS53AMG', 'X350', 'E280', 'A35AMG', 'E450',
       'EQC400', 'GLC200', 'SL65AMG', 'MarcoPolo', 'V300', 'GLE400',
       'GLB200', 'GLE300', 'GLC300', 'GLB220', 'G400', 'GLE53AMG',
       'GLB250'], dtype=object)

In [11]:
df['Model'] = df['Model'].replace(['A160','A180', 'A200', 'A220', 'A250'],'A')
df['Model'] = df['Model'].replace(['A35AMG','A45AMG'],'A_AMG')
df['Model'] = df['Model'].replace(['B150', 'B160', 'B180', 'B200','B220', 'B250', 'BElectricDrive',],'B')
df['Model'] = df['Model'].replace(['C180','C200', 'C220','C250', 'C300','C320','C350','C400', 'C450'],'C')
df['Model'] = df['Model'].replace(['C43AMG','C63AMG'],'C_AMG')
df['Model'] = df['Model'].replace(['CLA180','CLA200','CLA220','CLA250'],'CLA')
df['Model'] = df['Model'].replace(['CLS','CLS250', 'CLS350', 'CLS400',],'CLS')
df['Model'] = df['Model'].replace(['CLS53AMG','CLS63AMG'],'CLS_AMG')
df['Model'] = df['Model'].replace(['E250','E300','E350','E220','E200','E500','E400','E320','E280','E450'],'E')
df['Model'] = df['Model'].replace(['E43AMG', 'E53AMG', 'E63AMG'],'E_AMG')
df['Model'] = df['Model'].replace(['G350','G400','G500',],'G')
df['Model'] = df['Model'].replace(['G55AMG','G63AMG' ],'G_AMG')
df['Model'] = df['Model'].replace(['GL350','GL500',],'GL')
df['Model'] = df['Model'].replace(['GL63AMG'],'GL_AMG')
df['Model'] = df['Model'].replace(['GLA180','GLA200', 'GLA220','GLA250',],'GLA')
df['Model'] = df['Model'].replace(['GLA45AMG'],'GLA_AMG')
df['Model'] = df['Model'].replace(['GLB200','GLB220', 'GLB250',],'GLB')
df['Model'] = df['Model'].replace(['GLC200','GLC220', 'GLC250','GLC300', 'GLC350'],'GLC')
df['Model'] = df['Model'].replace(['GLC43AMG','GLC63AMG'],'GLC_AMG')
df['Model'] = df['Model'].replace(['GLE250', 'GLE300', 'GLE350', 'GLE400', 'GLE43AMG', 'GLE450', 'GLE500',],'GLE')
df['Model'] = df['Model'].replace(['GLE53AMG', 'GLE63AMG'],'GLE_AMG')
df['Model'] = df['Model'].replace(['GLK200', 'GLK220', 'GLK250', 'GLK300', 'GLK350'],'GLK')
df['Model'] = df['Model'].replace(['GLS350', 'GLS400', 'GLS500',],'GLS')
df['Model'] = df['Model'].replace(['ML250','ML300','ML320','ML350','ML400','ML450',],'ML')
df['Model'] = df['Model'].replace(['R300','R350'],'R')
df['Model'] = df['Model'].replace(['S250','S350', 'S400','S450', 'S500','S560'],'S')
df['Model'] = df['Model'].replace(['S63AMG','S65AMG'],'S_AMG')
df['Model'] = df['Model'].replace(['SL300','SL350','SL400','SL500','SL600'],'SL')
df['Model'] = df['Model'].replace(['SL63AMG','SL65AMG'],'SL_AMG')
df['Model'] = df['Model'].replace(['SLC200', 'SLC250', 'SLC43AMG'],'SLC')
df['Model'] = df['Model'].replace(['SLK','SLK200','SLK250'],'SLK')
df['Model'] = df['Model'].replace(['V220','V250','V300'],'V')
df['Model'] = df['Model'].replace(['X250','X350'],'X')

In [12]:
#Removing wrong models or not interesting models
df = df[df['Model']!='180']
df = df[df['Model']!='200']
df = df[df['Model']!='300']
df = df[df['Model']!='220']
df = df[df['Model']!='250']
df = df[df['Model']!='500']
df = df[df['Model']!='350']
df = df[df['Model']!='Marco']
df = df[df['Model']!='X']
df = df[df['Model']!='CE']
df = df[df['Model']!='CE200']
df = df[df['Model']!='CE220']
df = df[df['Model']!='']
df = df[df['Model']!='Sprinter']
df = df[df['Model']!='Vito']
df = df[df['Model']!='V']
df = df[df['Model']!='AMGGT']
df = df[df['Model']!='A_AMG']
df = df[df['Model']!='ML63AMG']
df = df[df['Model']!='C_AMG']
df = df[df['Model']!='CLA45AMG']
df = df[df['Model']!='CLS_AMG']
df = df[df['Model']!='E_AMG']
df = df[df['Model']!='G_AMG']
df = df[df['Model']!='GL_AMG']
df = df[df['Model']!='GLA_AMG']
df = df[df['Model']!='GLC_AMG']
df = df[df['Model']!='GLE_AMG']
df = df[df['Model']!='GLS63AMG']
df = df[df['Model']!='S_AMG']
df = df[df['Model']!='SL_AMG']

In [13]:
#Mercedes models
unique_values_model = df['Model'].unique()
print(unique_values_model)

['E' 'B' 'SL' 'CLS' 'SLS' 'CLC' 'SLK' 'C' 'ML' 'A' 'Viano' 'GLK' 'S' 'R'
 'GL' 'CL' 'G' 'CLA' 'Citan' 'GLA' 'GLE' 'GLC' 'SLC' 'GLS' 'EQC400'
 'MarcoPolo' 'GLB']

#### Brand

In [14]:
#Mercedes check
unique_values = df['Brand'].unique()
print(unique_values)

['Mercedes-Benz']

In [15]:
df.shape

(3651, 8)

#### Years

In [16]:
#Years
df = df[df[' year']!='-/- (Año)']

In [17]:
df['Year'] = '20'+df[' year'].str[-2:]
df['Year']=df['Year'].apply(pd.to_numeric)
df = df.drop(columns=[' year'])

In [18]:
#Year check
unique_values = df['Year'].unique()
print(unique_values)

[2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]

#### Km

In [19]:
#Mercedes check
df = df[df['Km']!='-']
df = df[df['Km']!='#¿NOMBRE?']
df['Km']=df['Km'].apply(pd.to_numeric)
df = df[df['Km']<400000]
df = df[df['Km']>5000]

In [20]:
df.shape

(3322, 8)

#### Power

In [21]:
#Mercedes power
df = df[df['Power']!='1']
df = df[df['Power']!='-']
unique_values = df['Power'].unique()
print(unique_values)

['204' '95' '231' '265' '571' '184' '170' '109' '136' '224' '211' '387'
 '82' '517' '272' '156' '193' '292' '258' '140' '150' '190' '129' '306'
 '143' '179' '299' '435' '122' '163' '116' '315' '120' '192' '257' '408'
 '252' '177' '455' '75' '333' '194' '421' '90' '260' '174' '245' '256'
 '442' '279' '218' '449' '135' '367' '381' '320' '500' '330' '169' '185'
 '469' '400' '197' '300' '189' '286' '476' '585' '160' '110' '114']

In [22]:
df.shape

(3299, 8)

#### Fuel

In [23]:
#Mercedes power
df['Fuel_type'] = df['Fuel_type'].replace(['Eléctrico'],'Electrico')
df['Fuel_type'] = df['Fuel_type'].replace(['Diésel'],'Diesel')
df['Fuel_type'] = df['Fuel_type'].replace(['Electro/Diésel'],'Electro/Diesel')
unique_values = df['Fuel_type'].unique()
print(unique_values)

['Diesel' 'Gasolina' 'Electro/Gasolina' 'Otros' 'Electro/Diesel'
 'Electrico']

In [24]:
df = df[df['Fuel_type']!='-/- (Combustible)']
df = df[df['Fuel_type']!='Otros']

In [25]:
#Mercedes power
unique_values = df['Fuel_type'].unique()
print(unique_values)

['Diesel' 'Gasolina' 'Electro/Gasolina' 'Electro/Diesel' 'Electrico']

#### Price

In [26]:
#Merdedes price
df['Price'] = df['Price'].apply(pd.to_numeric)

In [27]:
df['Price'].mean()

30236.60824742268

In [28]:
#Droping extremly high prices
df = df[df['Price']<90000]

In [29]:
df=df[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]
df=df.reset_index(drop=True)

In [30]:
mercedes_esp=df[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]

In [31]:
mercedes_esp['Model'].nunique()

26

In [32]:
mercedes_esp.shape

(3247, 7)

In [33]:
df.to_csv ('mercedes_esp.csv', index = False, header=True)

-------------------------------------------------------------------------------------------------------------------------------

# <div align="center"> Data Manipulation UE

##### Reading csv's

In [35]:
df_10_12 = pd.read_csv('../Raw_Data/mercedes_EU_2010_2012.csv',sep=';',encoding='latin-1')
df_13_15 = pd.read_csv('../Raw_Data/mercedes_EU_2013_2015.csv',sep=';',encoding='latin-1')
df_16_18 = pd.read_csv('../Raw_Data/mercedes-benz_EU_2016_2018.csv',sep=';',encoding='latin-1')
df_19_20 = pd.read_csv('../Raw_Data/mercedes-benz_EU_2019_2020.csv',sep=';',encoding='latin-1')

In [36]:
df_ue = pd.concat([df_10_12,df_13_15,df_16_18,df_19_20],axis = 0)
df_ue=df_ue.reset_index()

##### Creating new features

In [37]:
df_ue['Brand']= df_ue['vehicle'].str.split().str[0]
df_ue['Model']=df_ue['vehicle'].str.split().str[1:].str.join(sep=',').str.replace(' ','').str.replace(',','')
df_ue['Km'] = df_ue['  km'].str.split().str[0].str.replace('.','')
df_ue['Power'] = df_ue[' power'].str.split().str[2].str[1:]
df_ue['Price'] = df_ue['price '].str.split().str[1].str.replace(',','').str.replace('.','')

In [38]:
df_ue.columns

Index(['index', 'vehicle', '  km', ' year', ' power', ' transmision',
       ' fuel_type', ' consume', ' country', 'emisions', 'price ', 'Brand',
       'Model', 'Km', 'Power', 'Price'],
      dtype='object')

#### Removing unnecessary columns

In [39]:
df_ue['Transmision']=df_ue[' transmision']
df_ue['Fuel_type']=df_ue[' fuel_type']
df_ue = df_ue[df_ue[' country']!='ES']
df_ue = df_ue.drop(columns=[' consume',' country',' transmision','emisions',' fuel_type','price ',' power','  km','vehicle'])
df_ue= df_ue[['Brand', 'Model',' year','Km','Power','Transmision', 'Fuel_type', 'Price']]

##### Filtering the dataframe

In [40]:
df_ue.shape

(1498, 8)

In [41]:
#droping duplicates
df_ue = df_ue.drop_duplicates(keep='first')
df_ue = df_ue.dropna()
df_ue.shape

(1105, 8)

#### Models

In [42]:
unique_values = df_ue['Model'].unique()
#print(unique_values)
unique_values

array(['GLK220', 'A200', 'SL350', 'B180', 'E350', 'E220', 'Viano', 'E250',
       'Sprinter', 'R350', 'B200', 'E200', 'C180', 'SLK200', 'A160',
       'C350', 'S350', 'E500', 'A180', 'ML250', '', 'C250', 'C220',
       'Vito', 'SL63AMG', 'GLK200', 'GLK350', 'CLS350', 'ML350', 'S250',
       'Atego', 'C200', 'G500', 'B160', 'C300', '350', 'E63AMG', 'GLK250',
       'A150', 'GL350', 'S500', 'SLK250', 'C63AMG', '200', '220', 'CLS',
       'ML300', 'R300', 'CLS63AMG', 'ML63AMG', 'ML280', 'CLC', 'S65AMG',
       'E300', 'CLS250', 'GLA200', 'E320', 'CLA180', 'CLA200', 'CLA250',
       'B220', 'V200', 'V220', 'Citan', 'GLA250', 'GLE350', 'GLA220',
       'CLA220', 'V250', 'GLC250', 'GLE400', 'GLC220', 'CLA45AMG',
       'A45AMG', 'A250', 'C450', 'B250', '300', '180', 'SLS', 'GLE63AMG',
       'GLC43AMG', 'CLS400', 'C43AMG', 'GLA180', 'C400', 'SLC180',
       'GLS63AMG', 'E400', 'GLE500', 'GL450', 'A220', 'GLE250', 'GLC350',
       'GLS350', 'S400', 'E43AMG', 'GLE43AMG', 'BElectricDrive', 'SLC300',
       'V300', 'GLB200', 'AMGGT'], dtype=object)

In [43]:
df_ue['Model'] = df_ue['Model'].replace(['A150','A160','A180', 'A200', 'A220', 'A250'],'A')
df_ue['Model'] = df_ue['Model'].replace(['A35AMG','A45AMG'],'A_AMG')
df_ue['Model'] = df_ue['Model'].replace(['B150', 'B160', 'B180', 'B200','B220', 'B250', 'BElectricDrive',],'B')
df_ue['Model'] = df_ue['Model'].replace(['C180','C200', 'C220','C250', 'C300','C320','C350','C400', 'C450'],'C')
df_ue['Model'] = df_ue['Model'].replace(['C43AMG','C63AMG'],'C_AMG')
df_ue['Model'] = df_ue['Model'].replace(['CLA180','CLA200','CLA220','CLA250'],'CLA')
df_ue['Model'] = df_ue['Model'].replace(['CLS','CLS250', 'CLS350', 'CLS400',],'CLS')
df_ue['Model'] = df_ue['Model'].replace(['CLS53AMG','CLS63AMG'],'CLS_AMG')
df_ue['Model'] = df_ue['Model'].replace(['E250','E300','E350','E220','E200','E500','E400','E320','E280','E450'],'E')
df_ue['Model'] = df_ue['Model'].replace(['E43AMG', 'E53AMG', 'E63AMG'],'E_AMG')
df_ue['Model'] = df_ue['Model'].replace(['G350','G400','G500',],'G')
df_ue['Model'] = df_ue['Model'].replace(['G55AMG','G63AMG' ],'G_AMG')
df_ue['Model'] = df_ue['Model'].replace(['GL350','GL450','GL500',],'GL')
df_ue['Model'] = df_ue['Model'].replace(['GL63AMG'],'GL_AMG')
df_ue['Model'] = df_ue['Model'].replace(['GLA180','GLA200', 'GLA220','GLA250',],'GLA')
df_ue['Model'] = df_ue['Model'].replace(['GLA45AMG'],'GLA_AMG')
df_ue['Model'] = df_ue['Model'].replace(['GLB200','GLB220', 'GLB250',],'GLB')
df_ue['Model'] = df_ue['Model'].replace(['GLC200','GLC220', 'GLC250','GLC300', 'GLC350'],'GLC')
df_ue['Model'] = df_ue['Model'].replace(['GLC43AMG','GLC63AMG'],'GLC_AMG')
df_ue['Model'] = df_ue['Model'].replace(['GLE250', 'GLE300', 'GLE350', 'GLE400', 'GLE43AMG', 'GLE450', 'GLE500',],'GLE')
df_ue['Model'] = df_ue['Model'].replace(['GLE53AMG', 'GLE63AMG'],'GLE_AMG')
df_ue['Model'] = df_ue['Model'].replace(['GLK200', 'GLK220', 'GLK250', 'GLK300', 'GLK350'],'GLK')
df_ue['Model'] = df_ue['Model'].replace(['GLS350', 'GLS400', 'GLS500',],'GLS')
df_ue['Model'] = df_ue['Model'].replace(['ML250','ML280','ML300','ML320','ML350','ML400','ML450',],'ML')
df_ue['Model'] = df_ue['Model'].replace(['R300','R350'],'R')
df_ue['Model'] = df_ue['Model'].replace(['S250','S350', 'S400','S450', 'S500','S560'],'S')
df_ue['Model'] = df_ue['Model'].replace(['S63AMG','S65AMG'],'S_AMG')
df_ue['Model'] = df_ue['Model'].replace(['SL300','SL350','SL400','SL500','SL600'],'SL')
df_ue['Model'] = df_ue['Model'].replace(['SL63AMG','SL65AMG'],'SL_AMG')
df_ue['Model'] = df_ue['Model'].replace(['SLC200','SLC180','SLC300','SLC350', 'SLC250', 'SLC43AMG'],'SLC')
df_ue['Model'] = df_ue['Model'].replace(['SLK','SLK200','SLK250'],'SLK')
df_ue['Model'] = df_ue['Model'].replace(['V200','V220','V250','V300'],'V')
df_ue['Model'] = df_ue['Model'].replace(['X250','X350'],'X')

In [44]:
#Removing wrong models or not interesting models
df_ue = df_ue[df_ue['Model']!='180']
df_ue = df_ue[df_ue['Model']!='200']
df_ue = df_ue[df_ue['Model']!='300']
df_ue = df_ue[df_ue['Model']!='220']
df_ue = df_ue[df_ue['Model']!='250']
df_ue = df_ue[df_ue['Model']!='500']
df_ue = df_ue[df_ue['Model']!='350']
df_ue = df_ue[df_ue['Model']!='Marco']
df_ue = df_ue[df_ue['Model']!='X']
df_ue = df_ue[df_ue['Model']!='CE']
df_ue = df_ue[df_ue['Model']!='CE200']
df_ue = df_ue[df_ue['Model']!='CE220']
df_ue = df_ue[df_ue['Model']!='']
df_ue = df_ue[df_ue['Model']!='Sprinter']
df_ue = df_ue[df_ue['Model']!='Vito']
df_ue = df_ue[df_ue['Model']!='V']
df_ue = df_ue[df_ue['Model']!='AMGGT']
df_ue = df_ue[df_ue['Model']!='A_AMG']
df_ue = df_ue[df_ue['Model']!='ML63AMG']
df_ue = df_ue[df_ue['Model']!='C_AMG']
df_ue = df_ue[df_ue['Model']!='CLA45AMG']
df_ue = df_ue[df_ue['Model']!='CLS_AMG']
df_ue = df_ue[df_ue['Model']!='E_AMG']
df_ue = df_ue[df_ue['Model']!='G_AMG']
df_ue = df_ue[df_ue['Model']!='GL_AMG']
df_ue = df_ue[df_ue['Model']!='GLA_AMG']
df_ue = df_ue[df_ue['Model']!='GLC_AMG']
df_ue = df_ue[df_ue['Model']!='GLE_AMG']
df_ue = df_ue[df_ue['Model']!='GLS63AMG']
df_ue = df_ue[df_ue['Model']!='S_AMG']
df_ue = df_ue[df_ue['Model']!='SL_AMG']
df_ue = df_ue[df_ue['Model']!='Atego']

In [45]:
df_ue=df_ue[df_ue['Model'].isin(unique_values_model)]

In [46]:
#Mercedes models
unique_values = df_ue['Model'].unique()
print(unique_values)

['GLK' 'A' 'SL' 'B' 'E' 'Viano' 'R' 'C' 'SLK' 'S' 'ML' 'CLS' 'G' 'GL'
 'CLC' 'GLA' 'CLA' 'Citan' 'GLE' 'GLC' 'SLS' 'SLC' 'GLS' 'GLB']

#### Brand

In [47]:
#Mercedes check
unique_values = df_ue['Brand'].unique()
print(unique_values)

['Mercedes-Benz']

In [48]:
df_ue.shape

(866, 8)

#### Years

In [49]:
#Years
df_ue = df_ue[df_ue[' year']!='-/- (Año)']

In [50]:
df_ue['Year'] = '20'+df_ue[' year'].str[-2:]
df_ue['Year']=df_ue['Year'].apply(pd.to_numeric)
df_ue = df_ue.drop(columns=[' year'])

In [51]:
#Year check
unique_values = df_ue['Year'].unique()
print(unique_values)

[2012 2011 2010 2015 2013 2014 2016 2017 2018 2019]

#### Km

In [52]:
#Mercedes check
df_ue = df_ue[df_ue['Km']!='-']
df_ue = df_ue[df_ue['Km']!='#¿NOMBRE?']
df_ue['Km']=df_ue['Km'].apply(pd.to_numeric)
df_ue = df_ue[df_ue['Km']<400000]
df_ue = df_ue[df_ue['Km']>5000]

In [53]:
df_ue.shape

(858, 8)

#### Power

In [54]:
#Mercedes power
df_ue = df_ue[df_ue['Power']!='1']
df_ue = df_ue[df_ue['Power']!='-']
unique_values = df_ue['Power'].unique()
print(unique_values)

['170' '136' '306' '109' '231' '163' '116' '204' '211' '156' '184' '95'
 '122' '258' '408' '315' '292' '265' '185' '120' '143' '82' '387' '224'
 '97' '193' '435' '235' '230' '190' '173' '140' '272' '252' '177' '90'
 '333' '279' '245' '367' '179' '110' '571' '194' '340' '150' '286' '455'
 '75' '250' '102' '421' '160']

In [55]:
df_ue.shape

(851, 8)

#### Fuel

In [56]:
#Mercedes power
df_ue['Fuel_type'] = df_ue['Fuel_type'].replace(['Eléctrico'],'Electrico')
df_ue['Fuel_type'] =df_ue['Fuel_type'].replace(['Diésel'],'Diesel')
df_ue['Fuel_type'] =df_ue['Fuel_type'].replace(['Electro/Diésel'],'Electro/Diesel')
unique_values = df_ue['Fuel_type'].unique()
print(unique_values)

['Diesel' 'Gasolina' 'Gas licuado (GLP)' 'Gas natural (CNG)'
 'Electro/Diesel' 'Electro/Gasolina' 'Electrico']

In [57]:
df_ue = df_ue[df_ue['Fuel_type']!='-/- (Combustible)']
df_ue = df_ue[df_ue['Fuel_type']!='Otros']

In [58]:
#Mercedes power
unique_values = df_ue['Fuel_type'].unique()
print(unique_values)

['Diesel' 'Gasolina' 'Gas licuado (GLP)' 'Gas natural (CNG)'
 'Electro/Diesel' 'Electro/Gasolina' 'Electrico']

#### Transmision

In [59]:
#Mercedes transmision
unique_values = df_ue['Transmision'].unique()
print(unique_values)

['Automático' 'Manual' 'Semiautomático' '-/- (Cambio)']

#### Price

In [60]:
#Merdedes price
df_ue['Price'] = df_ue['Price'].apply(pd.to_numeric)

In [61]:
#Droping extremly high prices
df_ue = df_ue[df_ue['Price']<70000]

In [62]:
df_ue=df_ue[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]
df_ue=df_ue.reset_index(drop=True)

In [63]:
mercedes_ue=df_ue[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]

In [64]:
mercedes_ue['Model'].nunique()

22

In [65]:
mercedes_ue.shape

(845, 7)

In [66]:
df_ue.to_csv ('mercedes_ue.csv', index = False, header=True)

-------------------------------------------------------------------------------------------------------------------------------