# <div align="center"> Data Manipulation

##### Imports

In [1]:
import pandas as pd
pd.set_option('display.max_rows',2000)

##### Reading csv's

In [2]:
df_10_12 = pd.read_csv('porsche_2010_2012.csv',sep=';',encoding='latin-1')
df_13_15 = pd.read_csv('porsche_2013_2015.csv',sep=';',encoding='latin-1')
df_16_17 = pd.read_csv('porsche_2016_2017.csv',sep=';',encoding='latin-1')
df_18_19 = pd.read_csv('porsche_2018_2019.csv',sep=';',encoding='latin-1')
df_20 = pd.read_csv('porsche_2020.csv',sep=';',encoding='latin-1')

In [3]:
df = pd.concat([df_10_12,df_13_15,df_16_17,df_18_19,df_20],axis = 0)
df=df.reset_index()

##### Creating new features

In [4]:
df['Brand']= df['vehicle'].str.split().str[0]
df['Model']=df['vehicle'].str.split().str[1]
df['Km'] = df['  km'].str.split().str[0].str.replace('.','')
df['Power'] = df[' power'].str.split().str[2].str[1:]
df['Price'] = df['price '].str.split().str[1].str.replace(',','').str.replace('.','')

In [5]:
df.columns

Index(['index', 'vehicle', '  km', ' year', ' power', ' transmision',
       ' fuel_type', ' consume', ' country', 'emisions', 'price ', 'Brand',
       'Model', 'Km', 'Power', 'Price'],
      dtype='object')

#### Removing unnecessary columns

In [6]:
df['Transmision']=df[' transmision']
df['Fuel_type']=df[' fuel_type']
df = df.drop(columns=[' consume',' country',' transmision','emisions',' fuel_type','price ',' power','  km','vehicle'])
df= df[['Brand', 'Model',' year','Km','Power','Transmision', 'Fuel_type', 'Price']]

##### Filtering the dataframe

In [7]:
df.shape

(1378, 8)

In [8]:
#droping duplicates
df = df.drop_duplicates(keep='first')
df = df.dropna()
df.shape

(1343, 8)

#### Models

In [9]:
unique_values_model = df['Model'].unique()
print(unique_values_model)

['Panamera' 'Cayenne' '997' '991' '911' 'Boxster' 'Cayman' '992' 'Macan'
 'Targa' '718' 'Taycan']

In [10]:
#Removing wrong models or not interesting models
df = df[df['Model']!='718']
df['Model'] = df['Model'].replace(['997','991','992','Targa'],'911')
df = df[df['Model']!='911']
df = df[df['Model']!='Taycan']

In [11]:
#Porsche models
unique_values_model = df['Model'].unique()
print(unique_values_model)

['Panamera' 'Cayenne' 'Boxster' 'Cayman' 'Macan']

#### Brand

In [12]:
#Porsche check
unique_values = df['Brand'].unique()
print(unique_values)

['Porsche']

In [13]:
df.shape

(992, 8)

#### Years

In [14]:
#Years
df = df[df[' year']!='-/- (Año)']

In [15]:
df['Year'] = '20'+df[' year'].str[-2:]
df['Year']=df['Year'].apply(pd.to_numeric)
df = df.drop(columns=[' year'])

In [16]:
#Year check
unique_values = df['Year'].unique()
print(unique_values)

[2011 2010 2012 2015 2014 2013 2016 2017 2018 2019 2020]

#### Km

In [17]:
df = df[df['Km']!='-']
df = df[df['Km']!='#¿NOMBRE?']

In [18]:
df['Km']=df['Km'].apply(pd.to_numeric)
df = df[df['Km']<400000]
df = df[df['Km']>5000]

In [19]:
df.shape

(865, 8)

#### Power

In [20]:
#Porsche power
df = df[df['Power']!='1']
df = df[df['Power']!='-']
df['Power']=df['Power'].apply(pd.to_numeric)
unique_values = df['Power'].unique()
print(unique_values)

[400 500 245 250 239 299 315 290 379 265 551 310 300 405 430 420 256 385
 262 416 340 258 325 382 275 375 441 519 570 383 320 421 349 680 462 549
 252 360 355 401 330 354 460 366]

In [21]:
df.shape

(864, 8)

#### Fuel

In [22]:
#Porsche power
df['Fuel_type'] = df['Fuel_type'].replace(['Eléctrico'],'Electrico')
df['Fuel_type'] = df['Fuel_type'].replace(['Diésel'],'Diesel')
df['Fuel_type'] = df['Fuel_type'].replace(['Electro/Diésel'],'Electro/Diesel')
unique_values = df['Fuel_type'].unique()
print(unique_values)

['Gasolina' 'Diesel' 'Electro/Gasolina' '-/- (Combustible)']

In [23]:
df = df[df['Fuel_type']!='-/- (Combustible)']

In [24]:
#Porsche power
unique_values = df['Fuel_type'].unique()
print(unique_values)

['Gasolina' 'Diesel' 'Electro/Gasolina']

#### Price

In [25]:
df['Price'] = df['Price'].apply(pd.to_numeric)

In [26]:
df['Price'].mean()

57775.17345750873

In [27]:
#Droping extremly high prices
df = df[df['Price']<100000]

In [28]:
df=df[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]
df=df.reset_index(drop=True)

In [29]:
porsche_esp = df[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]

In [30]:
porsche_esp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779 entries, 0 to 778
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Brand      779 non-null    object
 1   Model      779 non-null    object
 2   Year       779 non-null    int64
 3   Km         779 non-null    int64
 4   Power      779 non-null    int64
 5   Fuel_type  779 non-null    object
 6   Price      779 non-null    int64
dtypes: int64(4), object(3)
memory usage: 42.7+ KB

In [31]:
porsche_esp['Model'].unique()

array(['Panamera', 'Cayenne', 'Boxster', 'Cayman', 'Macan'], dtype=object)

In [32]:
porsche_esp.shape

(779, 7)

In [33]:
df.to_csv ('porsche_esp.csv', index = False, header=True)

------------------------------------------------------------------------------------------------------------------------

# <div align="center"> Data Manipulation UE

##### Reading csv's

In [34]:
df_10_12 = pd.read_csv('porsche_EU_2010_2012.csv',sep=';',encoding='latin-1')
df_13_15 = pd.read_csv('porsche_EU_2013_2015.csv',sep=';',encoding='latin-1')
df_16_18 = pd.read_csv('porsche_EU_2016_2018.csv',sep=';',encoding='latin-1')
df_19_20 = pd.read_csv('porsche_EU_2019_2020.csv',sep=';',encoding='latin-1')

In [35]:
df_ue = pd.concat([df_10_12,df_13_15,df_16_18,df_19_20],axis = 0)
df_ue=df_ue.reset_index()

##### Creating new features

In [36]:
df_ue['Brand']= df_ue['vehicle'].str.split().str[0]
df_ue['Model']=df_ue['vehicle'].str.split().str[1]
df_ue['Km'] = df_ue['  km'].str.split().str[0].str.replace('.','')
df_ue['Power'] = df_ue[' power'].str.split().str[2].str[1:]
df_ue['Price'] = df_ue['price '].str.split().str[1].str.replace(',','').str.replace('.','')

In [37]:
df_ue.columns

Index(['index', 'vehicle', '  km', ' year', ' power', ' transmision',
       ' fuel_type', ' consume', ' country', 'emisions', 'price ', 'Brand',
       'Model', 'Km', 'Power', 'Price'],
      dtype='object')

#### Removing unnecessary columns

In [38]:
df_ue['Transmision']=df_ue[' transmision']
df_ue['Fuel_type']=df_ue[' fuel_type']
df_ue = df_ue.drop(columns=[' consume',' country',' transmision','emisions',' fuel_type','price ',' power','  km','vehicle'])
df_ue= df_ue[['Brand', 'Model',' year','Km','Power','Transmision', 'Fuel_type', 'Price']]

##### Filtering the dataframe

In [39]:
df_ue.shape

(1596, 8)

In [40]:
#droping duplicates
df_ue = df_ue.drop_duplicates(keep='first')
df_ue = df_ue.dropna()
df_ue.shape

(1171, 8)

#### Models

In [41]:
unique_values_ue = df_ue['Model'].unique()
print(unique_values_ue)

['997' 'Cayenne' '911' 'Panamera' 'Cayman' '991' 'Boxster' 'Macan' 'Targa'
 '992' 'Taycan']

In [42]:
#Removing wrong models or not interesting models
df_ue = df_ue[df_ue['Model']!='718']
df_ue['Model'] = df_ue['Model'].replace(['997','991','992','Targa'],'911')
df_ue = df_ue[df_ue['Model']!='911']
df_ue = df_ue[df_ue['Model']!='Taycan']

In [43]:
df_ue=df_ue[df_ue['Model'].isin(unique_values_model)]

In [44]:
#Porsche models
unique_values = df_ue['Model'].unique()
print(unique_values)

['Cayenne' 'Panamera' 'Cayman' 'Boxster' 'Macan']

#### Brand

In [45]:
#Porsche check
unique_values = df_ue['Brand'].unique()
print(unique_values)

['Porsche']

In [46]:
df_ue.shape

(845, 8)

#### Years

In [47]:
#Years
df_ue = df_ue[df_ue[' year']!='-/- (Año)']

In [48]:
df_ue['Year'] = '20'+df_ue[' year'].str[-2:]
df_ue['Year']=df_ue['Year'].apply(pd.to_numeric)
df_ue = df_ue.drop(columns=[' year'])

In [49]:
#Year check
unique_values = df_ue['Year'].unique()
print(unique_values)

[2012 2011 2010 2013 2015 2014 2017 2018 2016 2019 2020]

#### Km

In [50]:
df_ue = df_ue[df_ue['Km']!='-']
df_ue = df_ue[df_ue['Km']!='#¿NOMBRE?']

In [51]:
df_ue['Km']=df_ue['Km'].apply(pd.to_numeric)
df_ue = df_ue[df_ue['Km']<400000]
df_ue = df_ue[df_ue['Km']>5000]

In [52]:
df_ue.shape

(838, 8)

#### Power

In [53]:
#Porsche power
df_ue = df_ue[df_ue['Power']!='1']
df_ue = df_ue[df_ue['Power']!='-']
df_ue['Power']=df_ue['Power'].apply(pd.to_numeric)
unique_values = df_ue['Power'].unique()
print(unique_values)

[245 500 400 239 333 430 549 299 320 211 379 250 315 290 398 300 265 310
 256 420 540 330 246 269 334 266 314 551 241 258 382 262 340 325 518 407
 441 416 528 385 519 275 446 421 375 383 462 252 451 349 557 460 366 305
 360 257 680 570 362 390 447 364 354 381]

In [54]:
df_ue.shape

(824, 8)

#### Fuel

In [55]:
#Porsche power
df_ue['Fuel_type'] = df_ue['Fuel_type'].replace(['Eléctrico'],'Electrico')
df_ue['Fuel_type'] = df_ue['Fuel_type'].replace(['Diésel'],'Diesel')
df_ue['Fuel_type'] = df_ue['Fuel_type'].replace(['Electro/Diésel'],'Electro/Diesel')
unique_values = df_ue['Fuel_type'].unique()
print(unique_values)

['Diesel' 'Gasolina' 'Electro/Gasolina' 'Otros' '-/- (Combustible)']

In [56]:
df_ue = df_ue[df_ue['Fuel_type']!='-/- (Combustible)']
df_ue = df_ue[df_ue['Fuel_type']!='Otros']

In [57]:
#Porsche power
unique_values = df_ue['Fuel_type'].unique()
print(unique_values)

['Diesel' 'Gasolina' 'Electro/Gasolina']

#### Price

In [58]:
df_ue['Price'] = df_ue['Price'].apply(pd.to_numeric)

In [59]:
df_ue['Price'].mean()

47113.34107579462

In [60]:
#Droping extremly high prices
df_ue = df_ue[df_ue['Price']<70000]

In [61]:
df_ue=df_ue[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]
df_ue=df_ue.reset_index(drop=True)

In [62]:
porsche_ue = df_ue[['Brand', 'Model','Year','Km','Power','Fuel_type', 'Price']]

In [63]:
porsche_ue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Brand      728 non-null    object
 1   Model      728 non-null    object
 2   Year       728 non-null    int64
 3   Km         728 non-null    int64
 4   Power      728 non-null    int64
 5   Fuel_type  728 non-null    object
 6   Price      728 non-null    int64
dtypes: int64(4), object(3)
memory usage: 39.9+ KB

In [64]:
porsche_ue['Model'].unique()

array(['Cayenne', 'Panamera', 'Cayman', 'Boxster', 'Macan'], dtype=object)

In [65]:
porsche_ue.shape

(728, 7)

In [66]:
df_ue.to_csv ('porsche_ue.csv', index = False, header=True)